<!DOCTYPE html>
<html >
  <head>
   <meta charset="UTF-8">
    <title>Chat window Switch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>

        <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/normalize.css') }}">
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/style.css') }}">

    
    
    
  </head>

  <body>

    <div class="chat-box">
  <div class="chat-header">
    <div class="user-profile active" data-up='cont1'></div>
    <span>Leyna II</span>
  </div>
  <div id='chat' class="chat">

    <div class="chat-container active" id='cont1'>

      <div class="bubble">
        <p>Leyna II: Hello! I am Leyna Jr, an AI Chatbot built by <a href="https://github.com/dingchaoz" target="_blank">Dingchao Zhang</a></p>
      </div>
      <!-- <span class="datestamp">May 20, 2016, 4:16 PM</span>
 -->

     <!--  <div class="bubble bubble-alt">
        <p>That's cool!</p>
      </div>
      <span class="datestamp  dt-alt">May 20, 2016, 4:17 PM</span>

    

    <div class="bubble bubble-alt">
        <p>hey!!!.</p>
      </div>
      <span class="datestamp  dt-alt">May 20, 2016, 4:22 PM</span> -->
    </div>

  </div>
 <!--  <div class="chat-control">
    <input class="chat-input" type="text" placeholder="enter your message" />
  </div> -->
  <!-- <div class="panel-footer"> -->
  <div class="chat-control">
                            <form method="post" id="chatbot-form">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter Message" name="messageText" id="messageText" autofocus/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-info" type="button" id="chatbot-form-btn">SEND <span class="glyphicon glyphicon-send"></span></button>
                                    </span>
                                </div>
                            </form>
                        </div>
</div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

   

        <script>
        $(function() {
            $('#chatbot-form-btn').click(function(e) {
                e.preventDefault();
                $('#chatbot-form').submit();
            });

            $('#chatbot-form').submit(function(e) {
                e.preventDefault();

                var message = $('#messageText').val();
                // $("#cont1").append('<div class = "bubble" style="opacity:1;"><p>' + message + '</p></div>');
                // $("#cont1").append('<span class="datestamp">May 20, 2016, 4:22 PM</span>');
                var html = '<div class = "bubble bubble-alt" style="opacity:1;"><p>' +'Me: '+ message + '</p></div>';
                           
                var header = $(document.body).find("#cont1");
                // var html2 = '<span class="datestamp" style="opacity:1;left: 0px;">May 20, 2016, 4:22 PM</span>'
                // var html3 = '<span class="datestamp dt-alt" style="opacity:1;">1999, 2016, 4:22 PM</span>'
                // header.append(['<div class = "bubble" style="opacity:1;"><p>' + message + '</p></div>',html2]);
                header.append(html);


                $.ajax({
                    type: "POST",
                    url: "/ask",
                    data: $(this).serialize(),
                    success: function(response) {
                        $('#messageText').val('');

                        var answer = response.answer;
                        console.log(answer)
                        // $("#cont1").append('<div class = "bubble bubble-alt" style="opacity:1;"><p>' + answer + '</p></div>');
                        header.append('<div class = "bubble" style="opacity:1;"><p>' +'Leyna II: '+ answer + '</p></div>');
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });

        </script>

       <!--  <div class="bubble bubble-alt">
        <p>hey!!!.</p>
      </div>
      <span class="datestamp  dt-alt">May 20, 2016, 4:22 PM</span>
    </div> -->
    
    
  </body>
</html>
